@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('./pic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 485px;
    height: 450px; 
    background: #ffffffc0;
    opacity: 0.8;
    border-radius: 10px;
    padding: 22px 30px 40px;
}

.head{
    text-align: center;
    font-family: 'Unna', serif;
    font-size: 40px;
}

.image {
    width: 350px;
    max-width: 100%;
    color: #444;
    position: relative;
    bottom: -5px;
    right: -40px;
    padding: 5px 60px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
    font-family: 'Exo 2', sans-serif;
}
.image::file-selector-button{
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    font-family: 'Exo 2', sans-serif;
}

.predict{
    position: relative;
    right: -170px;
    bottom: -40px;
    width: 100px;
    border: none;
    background: #FFFF9B;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.7;
    font-family: 'Exo 2', sans-serif;
}

.Result{
    position: relative;
    right: -13px;
    bottom: -39px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

.Prediction{
    position: relative;
    right: -80px;
    bottom: -16px;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}



.container .reload-btn{
    width: 75px;
    height: 100%;
    font-size: 25px;
}

.container .captcha-img .captcha{
    position: absolute;
    right: 650px;
    top: 310px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    letter-spacing:2px;
    text-align: center;
    color: black;
    text-shadow: 0 0 2px #a9a9a9;
    font-family: 'Noto Serif', serif;
}

.container .reload-btn{
    width: 75px;
    height: 100%;
    font-size: 25px;
}

.reload-btn{
    position: relative;
    top: -43px;
    right: -370px;
    background: #FFFF9B;
    border: none;
    border-radius: 5px;
}

.container .captcha-img img{
    position: relative;
    bottom: -20px;
    right: -70px;
}

#code{
    outline: none;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    padding-left: 20px;
    font-size: 20px;
    width: 270px;
    height: 60px;
    padding: 10px;
    position: relative;
    bottom: -25px;

}

#code:is(:focus, :valid){
    border: 2px solid rgb(152, 97, 203);
    padding-left: 19px;
}

.check-btn{
    height: 35px;
    padding: 0 20px;
    font-size: 17px;
    transform: translateY(-50%);
    position: relative;
    right: -355px;
    background: #FFFF9B;
    border: none;
    border-radius: 5px;
}

.status-txt{
    margin: 20px 0 -5px 0;
    text-align: center;
    font-size: 18px;
    position: relative;
    bottom: -20px;
}